.gift-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 54px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.gift-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 133vh;
  width: 100vw;
  width: 100%;
}

.gift-title {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  padding-top: 27px;
  padding-bottom: 16px;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-top: 29px;
}

.task-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 5px 10px;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 34px;
  padding-right: 34px;
}

.pfphoto {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-content p {
  margin: 0;
  display: block;
}

.task-name {
  font-size: 12px;
  font-weight: 400;
  width: 175px;
}

.task-prize {
  font-size: 12px;
  font-weight: 400;
  color: #53FF6D;
}

.task-btn {
  width: 100px;
  background-color: #f6f6f6;
  border-radius: 100px;
  color: black;
  font-size: 12px;
  font-weight: 400;
  border: none;
  text-align: center;
  padding: 7px 3px;
}

.active-btn {
  background: #404040;
  color: white;
}

.completed {
  background-color: #0BFF54;
  color: black;
}

@media (max-width: 480px) {
    .gift-main {
    align-items: start;
  }

    .gift-title {
    width: 277px;
    text-align: unset;
    padding-left: 34px;
  }

  .task-container {
    justify-content: space-evenly;
    gap: 0;
  }
}