.loading-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  color: #ffffff;
}

.loading-logo span {
  font-size: 4rem;
}

.loading-text {
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}
