.loader-wrapper {
  position: fixed;
  inset: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.loader {
  width: 64px;
  height: 64px;
  border: 6px solid #3b82f6;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.page-content {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}
