.exchange-mode {
  background-color: black;
}

.exchange-content {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  background-color: transparent;
  padding-top: 54px;
  padding-bottom: 120px;
}

.exchange-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-h1 {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.title-p {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding-top: 14px;
  padding-left: 30px;
}

.budget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 33px;
}

.budget > div {
  display: flex;
  justify-content: space-between;
  width: 308px;
  height: 44px;
  align-items: center;
  background: linear-gradient(#000 0%, #000 88%, #000 54%);
  box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.34);
  padding: 5px 10px;
  border-radius: 100px;
}

.budget-h1 {
  font-size: 16px;
  font-weight: 500;
}

.budget p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255,255,255,0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

form > p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 48px;
  align-self: flex-start;
}

form > div {
  display: flex;
  width: 100%;
  gap: 23px;
  justify-content: center;
}

.input-wrapper {
  position: relative;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.exchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.61%);
  width: 27px;
  height: 27px;
  color: black;
  border-radius: 50%;
}

div.exchange img {
  width: 38%;
  height: 34%;
  object-fit: contain;
}

.styled-input {
  text-align: center;
  font-size: 16px;
  width: 300px;
  padding: 8px 10px;
  background: #000;
  border: none;
  color: #fff;
  outline: none;
}

.input-line {
  width: 300px;
  height: 1px;
  background: linear-gradient(to right,
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.8) 20%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.8) 80%,
    rgba(255, 255, 255, 0) 100% 
  );
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 1px;
}

.button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-row > button {
  border-radius: 100px;
  background-color: #282828;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.61);
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding: 5px 8px;
}

.submit-btn {
  width: 114.95px;
  height: 28px;
  border: none;
  border-radius: 100px;
  background-color: #60FF82;
  font-size: 12px;
  font-weight: 600;
  color: black;
  margin-top: 16px;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 46px;
}

.instruction-title {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 7px;
}

.instruction-title > h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-left: 30px;
}

.instruction-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding-left: 1px;
}

.instruction-list > li {
  font-size: 12px;
  font-weight: 300;
}

.instruction-title > button {
  color: white;
  background-color: #282828;
  width: 19px;
  height: 19px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.61);
  border: none;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
}


@media (max-width: 480px) {
  .exchange-main {
    align-items: unset;
  }

  .title-h1 {
    text-align: start;
  }

  .instruction-title {
    text-align: start;
  }

  .instruction-list {
    padding-left: 60px;
  }

  .title-p {
    text-align: start;
    padding-left: 34px;
  }

  .styled-input {
    width: 280px;
  }

  .input-line {
    width: 280px;
  }

  .input-wrapper {
    width: 290px;
  }
}