* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Benzin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #0C0B0B;
  color: white;
  background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, black 35%, #0C0B0B 100%);
  height: 100vh;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  padding: 11px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  background: linear-gradient(to right, #0C0B0B00 0%, #1F1F1F 50%, #0C0B0B00 100%);
}

div.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.time-container > div {
  background-color: #282828;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.61);
  padding: 10px 13px;
  text-align: center;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 500;
}

div.time-container > p {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.28);
}

div.name-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

div.name-conatiner > div {
  font-size: 14px;
  font-weight: 500;
}

div.name-container > p {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.28);
}

div.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.theme-container img {
  margin: 0;
  padding: 0;
  display: block;
}

div.theme-container > div {
  display: flex;
  gap: 5px;
  width: 46px;
  height: 24px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.61);
  background-color: #282828;
  padding: 3px 3px;
}

div.theme-container > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.theme-container > div > div > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

div.theme-container > div > div.selected {
  background-color: #060606;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.11);
  border-radius: 50%;
}

div.theme-container > p {
  margin: 0;
  color: rgba(255,255,255,0.28);
  font-size: 10px;
  font-weight: 400;
}

div.home-main {
  height: 100%;
}

div.progress-bar-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

div.lvl {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 8px;
    font-weight: 300;
}

div.lvl > span {
  width: 32px;
}

div.progress-bar {
    width: 100%;
    background-color: #262626;
    border-radius: 5px;
    height: 8px;
    position: relative;
}

div.progress-bar__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

div.progress-bar__fill {
    background-color: #fff;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
}

div.progress-bar-container > div.target > p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255,255,255,0.5);
}

div.target {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

div.mb-counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.mb-counter-container > p {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

div.mb-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

div.mb-counter > h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

div.logo {
  background-color: #262626;
  width: 27px;
  height: 27px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.logo img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

div.exchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.61%);
  width: 27px;
  height: 27px;
  color: black;
  border-radius: 50%;
}

div.exchange img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

div.avatar-container {
  height: 515px;
  width: 294.11px;
  align-self: flex-end;
  z-index: 1;
}

div.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

div.avatar-container img:active {
  transform: scale(0.95);
}

.popup-text {
  font-size: 20px;
  position: absolute;
  font-weight: 700;
  color: white;
  padding: 10px;
  border-radius: 5px;
  animation: fadeInOut 1s ease-in-out;
  top: 40%; 
  left: 70%;
  transform: translateX(-50%); 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.8) 70%, 
    rgba(0, 0, 0, 0.95) 100% 
  );
  padding: 60px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: none;
}


.router-icons-container {
  position: relative;
  width: 100%;
  max-width: 304px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(47, 47, 47, 1) 0%, rgba(34, 34, 34, 0.85) 100%);
  border-radius: 100px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
  padding: 0 10px;
  border: none;
}

.labels-container {
  width: 100%;
  max-width: 304px;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-item {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.selected-background {
  position: absolute;
  top: -7px;
  left: 0; 
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: white;
  border: 12px solid #2F2F2F;
  z-index: 0;
  box-sizing: border-box;
  pointer-events: none;
}

.icon-wrapper.selected .icon-item img {
  width: 40%;
  height: 45%;
  object-fit: contain;
}

.labels-container {
  width: 100%;
  max-width: 304px;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.labels-container p {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.28);
  margin: 0;
  width: 40px;
  text-align: center;
}

.exchange-mode {
  background-color: black;
}

.exchange-content {
  min-height: 100vh;
  color: white;
}

.exchange-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  gap: 15px;
  background-color: #000;
  margin-bottom: 73px;
  width: 100%;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
}

.title-h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.title-p {
  font-weight: 300;
  font-size: 10px;
  margin: 0;
}

.budget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.budget > div {
  display: flex;
  justify-content: space-between;
  width: 308px;
  height: 44px;
  align-items: center;
  background: linear-gradient(#000 0%, #000 88%, #000 54%);
  box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.34);
  padding: 5px 10px;
  border-radius: 100px;
}

.budget-h1 {
  font-size: 16px;
  font-weight: 500;
}

.budget p {
  margin: 0;
  font-size: 10px;
  font-weight: 300;
  color: rgba(255,255,255,0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
}

form > p {
  font-size: 10px;
  font-weight: 300;
  margin-left: 5px;
  align-self: flex-start;
}

form > div {
  display: flex;
  width: 100%;
  gap: 10px;
}

.input-wrapper {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.styled-input {
  text-align: center;
  width: 100%;
  padding: 8px 10px;
  background: #000;
  border: none;
  color: #fff;
  outline: none;
}

.input-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.8) 20%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.8) 80%,
    rgba(255, 255, 255, 0) 100% 
  );
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 1px;
}

.button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-row > button {
  width: 67px;
  height: 19px;
  border-radius: 100px;
  background-color: #282828;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.61);
  border: none;
  color: white;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.submit-btn {
  width: 114.95px;
  height: 28px;
  border: none;
  border-radius: 100px;
  background-color: #60FF82;
  font-size: 12px;
  font-weight: 600;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
}

.instruction-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.instruction-title > h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.instruction-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.instruction-list > li {
  font-size: 12px;
  font-weight: 300;
}

.instruction-title > button {
  color: white;
  background-color: #282828;
  width: 19px;
  height: 19px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.61);
  border: none;
  border-radius: 50%;
  font-size: 8px;
  font-weight: 500;
}

.modal-container {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1717;
  border-radius: 50px 50px 0 0;
  height: 130px;
  padding-left: 40px;
  padding-right: 30px;
  gap: 20px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-title-h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.modal-title-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(70, 70, 70, 0.23);
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  align-self: flex-end;
}

.modal-container p {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;
}

/* ModalOverlay.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

@media (max-width: 768px) {
  div.avatar-container {
    height: 500px;
    width: 280px;
  }

  div.avatar-container img {
    width: 100%;
    height: 100%;
  }
}