.stats-page {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  background-color: transparent;
  padding-top: 54px;
  padding-bottom: 150px;
}

.stats-main h1 {
  font-size: 28px;
  font-weight: 700;
  padding: 27px 0 16px 0;
  margin: 0;
  color: white;
  text-align: center;
}

.stats-main h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 13px;
  color: white;
}

.dash-board {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  margin: 20px 0 40px;
}

.placement-player {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.profile-card {
  background: transparent;
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  height: 100%;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #141414;
  border-color: #363535;
}

.profile-card.top-card {
  transform: translateY(-20px);
  order: 2;
}

.profile-card.second-card {
  order: 1;
}

.profile-card:not(.top-card):not(.second-card) {
  order: 3;
}

.pfp-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #ff0000;
  margin-bottom: 20px;
  overflow: hidden;
}

.pfp-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pfp-container.top-player-img {
  border-color: #C3FF00;
}

.pfp-container.second-player-img {
  border-color: #FF8000;
}

.profile-card h2 {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 18px;
  color: white;
  max-width: 100px; /* ✅ или % от родителя */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.profile-card p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 8px;
  text-align: start;
}

.profile-card p span {
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.p-row-leaders {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0.75rem 1rem 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
  width: 80%;
  background: #000;
}

.your-placement-badge {
  background: white;
  color: black;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 6px 16px;
  border-radius: 0px 0px 150px 150px;
  display: inline-block;
  position: sticky;
  top: 2.4rem;
  z-index: 9;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
}

.leaders-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leaders-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background: #000;
  z-index: 8;
  margin: 0;
}

.leaders {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.leaders-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.leaders-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 1rem;
  margin-top: 10px;
}


.player-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  width: 100%;
  margin-top: 5px;
  padding-right: 40px;
  border: 1px solid;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: #141414;
  border-color: #363535;
}

.leaders-photo-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.leaders-photo-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.player-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.player-info p {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: white;
  max-width: 100px; /* ✅ или % от родителя */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.placement {
  font-size: 12px;
  color: white;
  width: 10px;
}

.balance {
  font-size: 13px;
  font-weight: 600;
  margin-left: -40px;
  color: white;
}

.exchanges {
  font-size: 12px;
  font-weight: 400;
  margin-right: -40px;
  color: rgba(255, 255, 255, 0.7);
}

.tab-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: #000;
  margin-bottom: 38px;
}

.active-tab {
  width: 180px;
  height: 29px;
  border-radius: 0 0 20px 20px;
  border: none;
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border-top: 1px solid #fff;
}

.non-active-tab {
  width: 180px;
  height: 29px;
  color: white;
  background-color: #000;
  border: none;
  border-top: 1px solid #fff;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 780px) {
  .active-tab,
  .non-active-tab {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .p-row-leaders {
    width: 100%;
  }

  .stats-main {
    align-items: unset;
  }

  .tab-row button {
    width: 100%;
  }
  
  .player-info {
    margin-left: 0;
  }

  .leaders-title {
    text-align: start;
    padding-left: 49px;
  }

  .stats-main h1 {
    text-align: start;
    padding-left: 34px;
  }
}